<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.team.controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/view/user/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileUser</servlet-name>
		<servlet-class>com.team.controller.ProfileUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileUser</servlet-name>
		<url-pattern>/view/user/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationController</servlet-name>
		<servlet-class>com.team.controller.RegistrationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/view/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProfileUser</servlet-name>
		<servlet-class>com.team.controller.EditProfileUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfileUser</servlet-name>
		<url-pattern>/view/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomePageController</servlet-name>
		<servlet-class>com.team.controller.HomePageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePageController</servlet-name>
		<url-pattern>/view/user/homepage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.team.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/view/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomepageAdmin</servlet-name>
		<servlet-class>com.team.controller.admin.HomepageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomepageAdmin</servlet-name>
		<url-pattern>/admin/homepage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAdmin</servlet-name>
		<servlet-class>com.team.controller.admin.LoginAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAdmin</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutAdmin</servlet-name>
		<servlet-class>com.team.controller.admin.LogoutAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutAdmin</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ErrorHandle</servlet-name>
		<servlet-class>com.team.controller.ErrorHandle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorHandle</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.AddAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdminController</servlet-name>
		<url-pattern>/admin/add-admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListUserController</servlet-name>
		<servlet-class>com.team.controller.admin.ListUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUserController</servlet-name>
		<url-pattern>/admin/list-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveUserController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUserController</servlet-name>
		<url-pattern>/admin/user/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUserController</servlet-name>
		<servlet-class>com.team.controller.admin.EditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.EditAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditAdminController</servlet-name>
		<url-pattern>/admin/admin/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.ListAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAdminController</servlet-name>
		<url-pattern>/admin/list-admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveAdminController</servlet-name>
		<servlet-class>com.team.controller.admin.RemoveAdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAdminController</servlet-name>
		<url-pattern>/admin/admin/delete</url-pattern>
	</servlet-mapping>
</web-app>